# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
logs/
target/

*.log

overlays/
oidc-server/src/main/resources/application.oidc.properties
oidc-server/automation.bat
